
<div id="content-desktop" style="padding-top: 60px !important;">
    <!-- <mat-toolbar style="height: 35%; display: flex; 
    flex-direction: row; justify-content: space-between; z-index:5; position : inherit;" class="mat-elevation-z8">
      <div class="animated slideInDown delay-1s" style="display: flex; 
      flex-direction: row; justify-content: space-around; width: 70%;">
        <div>
          <img src="../assets/images/angular.png" class="profile-image" alt="Avatar" alt="avator">
        </div>
        <div>
          <img src="../assets/images/java.png" class="profile-image" alt="Avatar" alt="avator">
        </div>
        <div>
          <img src="../assets/images/mongo.png" class="profile-image" alt="Avatar" alt="avator">
        </div>
        <div>
          <img src="../assets/images/spring-3-logo-png-transparent.png" class="profile-image" alt="Avatar" alt="avator">
        </div>
      </div>
      <div style="font-family: 'Geo', sans-serif; font-size: 70px; padding-right: 50px;">
        <span class="animated jackInTheBox delay-1s" style=" padding-top: 80%; border-bottom: 5px solid white; color: white; padding-right:20px; ">
          Tech Zinfi
        </span>
      </div>
    </mat-toolbar> -->
    
    
    <!-- <mat-toolbar  style="display: flex; justify-content: flex-end;">
      <button  class="btn animated shake delay-1s" mat-flat-button style="background-color: #00ffff; color: black; 
          height: 35px; width: 150px; font-family: 'Geo', sans-serif !important; 
          font-size: 21px; margin-right: 5px;" (click)="openBottomSheet()"> <i class="fa fa-share-square"
          aria-hidden="true"></i>&nbsp;&nbsp;Social</button>
    
      <button class="btn  animated shake delay-1s" mat-flat-button style="background-color: #00ffff; color: black; 
          height: 35px; width: 150px; font-family: 'Geo', sans-serif !important; 
          font-size: 21px; margin-right: 5px;" routerLink="/faculty"><i class="fa fa-users"
          aria-hidden="true">&nbsp;&nbsp;Faculty</i></button>
    
      <button class="btn  animated shake delay-1s" mat-flat-button style="background-color: #00ffff; color: black; 
          height: 35px; width: 150px; font-family: 'Geo', sans-serif !important; 
          font-size: 21px; margin-right: 5px;" routerLink="/batches"><i class="fa fa-calendar"
          aria-hidden="true"></i>&nbsp;&nbsp;Batches</button>
    
      <button class="btn  animated shake delay-1s" mat-flat-button style="background-color: #00ffff; color: black; 
          height: 35px; width: 150px; font-family: 'Geo', sans-serif !important; 
          font-size: 21px;" routerLink="/gallary"><i class="fa fa-picture-o"
          aria-hidden="true"></i>&nbsp;&nbsp;Photos</button>
    
    </mat-toolbar> -->
    
    <div class="float">
    
      <button class="my-float " mat-raised-button style="margin-left : 14px; float:right; 
        font-family: 'Geo', sans-serif !important; 
        width: 180px; height: 40px; font-size: 19px;" class="button1-hover" (click)="openEnquiryDialog()">
        <mat-icon style="color: rgba(58, 245, 139, 0.966); font-size: 23px; 
        padding-left:-6px;">live_help
        </mat-icon>
        Enqire for Course
      </button>
    
    
    </div>
    
    <div  style="height: 15%;">
      <mat-toolbar color="accent" style="height: 50%; display: flex; justify-content: center;">
        <span class="animated bounceInRight delay-1s"  style="font-family: 'Geo', sans-serif; font-size: 40px; color: black; padding-top: 5px;">
          Completed graduation; Still unaware of Indutrial Knowledge ?
        </span>
      </mat-toolbar>
      <mat-toolbar color="accent" style="height: 50%; display: flex; 
      justify-content: center; font-size: 33px; ">
        <span class="animated bounceInLeft delay-1s"style="font-family: 'Geo', sans-serif; color: black;">
          We have a Soltion for you ..!
        </span>
      </mat-toolbar>
    </div>
    <div  style="width: 100%; display: flex; flex-direction: row; justify-content: start;">
    
      <mat-toolbar style="width: 20%; background-color: rgba(45, 248, 208, 0.721); justify-content:center;" class="mat-elevation-z1">
        <span style="color: black; font-family: 'Geo', sans-serif; 
          font-size: xx-large;">Syllabus</span>
      </mat-toolbar>
    
      <mat-toolbar style="width: 80%; display: flex; flex-direction: row;
         justify-content: space-evenly; background-color: rgb(16, 150, 123);
         box-shadow: 0 2px 5px 0 black, 0 2px 5px 10px 0 black;" class="mat-elevation-z1">
        <button mat-flat-button style="background-color: white; color: black; 
          height: 50px; width: 250px; font-family: 'Geo', sans-serif !important; 
          font-size: 30px;border: 2px inset black;" class="mat-elevation-z8 button-hover" (click)="clicked()"
          routerLink="/course/java">Core Java 8+</button>
    
        <button mat-flat-button style="background-color: white; color: black; 
          height: 50px; width: 250px; font-family: 'Geo', sans-serif !important; 
          font-size: 30px;border: 2px inset black;" class="mat-elevation-z8 button-hover"
          routerLink="/course/java-springboot">Java-Spring Boot</button>
    
        <button mat-flat-button style="background-color: white; color: black; 
          height: 50px; width: 250px; font-family: 'Geo', sans-serif !important; 
          font-size: 30px;border: 2px inset black;" class="mat-elevation-z8 button-hover"
          routerLink="/course/angular">Angular X+</button>
    
      </mat-toolbar>
    </div>
    </div>
    
    <app-header></app-header>
    
    <!-- <div class="mobile">
    </div> -->
