
<div id="content-desktop" style="bottom: 0 !important;">
    <footer class="site-footer">
       <div class="container">
         <div style=" width: 100%; flex-direction: row; display: flex;">
           <div  class="footer-mobile-1" style="width: 50%;">
             <h6>About</h6>
             <p class="text-justify" style="color: white;"> Need disruptive innovation to accelerate your business? We provide UI-UX and quality assured software solutions to digitally transform your business and ace your competition</p>
           </div>
 
           <div class="footer-mobile-2" style="width:25%" >
             <h6 style="text-align: center;">Follow Us</h6>
             <div class="social">
               <ul  class="social-icons">
                 <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
                 <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
                 <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
                 <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li> </ul>
             </div>
           </div>
 
           <div class="footer-mobile-3" style="width: 25%;">
             <h6 style="text-align: center;">Quick Links</h6>
             <ul class="footer-links" style="padding-left: 0px;"> 
               <li><a routerLink="/batches" href="">Batches</a></li>
               <li><a routerLink="/faculty" href="">Faculty</a></li>
               <!-- <li><a (click)="openBottomSheet()" href="">Social</a></li> -->
               <li><a routerLink="/gallary" href="">Photos</a></li>
               
             </ul>
           </div>
         </div>
         
       </div>
       <div class="container">
         <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12 " style="text-align: center; font-size: 20px;">
             <p class="copyright-text">
          <a href="#">Copyright © 2020 by Zinfinity Technologies LLP. All Rights Reserved.</a>.
             </p>
           </div>
         </div>
       </div>
 </footer>
 </div>
 
 <div id="content-mobile">
   <div class="site-footer">
      <div class="container">
        
          <div>
            <h6 style="text-align: center;">About</h6>
            <p class="text-justify" style="color: white;"> Need disruptive innovation to accelerate your business? We provide UI-UX and quality assured software solutions to digitally transform your business and ace your competition</p>
          </div>
 
          <div>
            <h6 style="text-align: center;">Follow Us</h6>
            <div class="social">
              <ul  class="social-icons">
                <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li> </ul>
            </div>
          </div>
 
          <div style="width: 100%;">
            <h6 style="text-align: center;">Quick Links</h6>
            <ul class="footer-links"> 
             <li><a routerLink="/batches" href="">Batches</a></li>
             <li><a routerLink="/faculty" href="">Faculty</a></li>
             <!-- <li><a (click)="openBottomSheet()" href="">Social</a></li> -->
             <li><a routerLink="/gallary" href="">Photos</a></li>
              
            </ul>
          
        </div>
        
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 " style="text-align: center; font-size: 20px;">
            <p class="copyright-text">
         <a href="#">Copyright © 2020 by Zinfinity Technologies LLP. All Rights Reserved.</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
 </div>