// body{
//     background-color: black;
// }

mat-chip{
    background-color:transparent !important;
    color: black !important;
    border: 2px solid black;
    font-size: large;
  }

//   @media screen and (max-width: 768px){
//     mat-chip{
//         font-size:small;
//     }
// }
  mat-chip:hover{
    background-color:black !important;
    color:white !important;
    border: 2px solid white;
    cursor: pointer;
  }
.section-1 {
    background-color: whitesmoke;
    color: black;
  
   border-left: 5px solid black;
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   align-items: center;
   margin: 20px;
   
 }
 .span-1{
      font-size: 20px;
    //   font-family: Arial, Helvetica, sans-serif;
      color: black;
    //   font-weight: bold;
    //   margin-top: 100px;
 }

 

 li{

    font-size: 20px;
    margin-top: 10px;
    // font-family: 'Geo', sans-serif;
}
.section-2 {
 margin: 20px;  
}
.mat-tree-node {
    display: flex;
    align-items: center;
    min-height: 48px;
    flex: 1;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    
}

