<div  style="text-align: center;">
    <a><i class="fa fa-whatsapp fa-2x social" aria-hidden="true" style=" color: green "></i></a>
    <a href="https://www.facebook.com/TechZinfi-102596587994713/"><i class="fa fa-facebook fa-2x" aria-hidden="true" style="padding: 30px; cursor: pointer; color: blue !important;"></i></a>
    <a href=" "> <i class="fa fa-twitter fa-2x" aria-hidden="true" style=" color: rgb(81, 81, 250);"></i></a>
    <a href=" "><i class="fa fa-instagram fa-2x" aria-hidden="true" style="  color: rgb(245, 39, 39);"></i></a>
</div>