<div class="cards-list">
  
    <div class="card 1">
     
      <div class="card_title ">
        <p >Core Java</p>
        <span ><b>Training Type : </b> Classroom</span><br>
        <span><b>Date :</b> 1 May 2020 - 30 Jun 2020</span><br>
        <span> <b>Weekdays :</b> Monday,Tuesday</span><br>
        <span><b>Time :</b> 7pm - 9pm</span>
        
        
     

      </div>
    </div>
    
      <div class="card 2">
      
      <div class="card_title ">
        <p>Java-Spring Boot</p>
        <span ><b>Training Type : </b> Classroom</span><br>
        <span><b>Date :</b> 1 May 2020 - 30 Jun 2020</span><br>
        <span> <b>Weekdays :</b> Wednesday,Thursday</span><br>
        <span><b>Time :</b> 7pm - 9pm</span>
        
      </div>
    </div>
    
    <div class="card 3">
      
      <div class="card_title">
        <p>Angular</p>
        <span ><b>Training Type : </b> Classroom</span><br>
        <span><b>Date :</b> 1 May 2020 - 30 Jun 2020</span><br>
        <span> <b>Weekdays :</b> Friday,Saturday</span><br>
        <span><b>Time :</b> 7pm - 9pm</span>
        
      </div>
    </div>
      
     
    
    </div>


