<div class="main">

    <div class="graphics_img" >
        <img class="img_1" src="../../../assets/images/TECHZINFI BANNER.jpg">
    </div>
    <div class="courses">
        <p class="heading">Courses</p>
        
            <div class="card-wrapper">

                <div class="card">
                    <a routerLink="/course/angular">
                            <div>
                                <img class="card_img" src="../../../assets/images/angular.png" >
                            </div>
                            <div style="padding-top: 10px;">
                                <h5 class="card-title">Angular</h5>
                            </div>
                        </a>
                    
                </div>
                <div class="card">
                     <a routerLink="/course/java">
                            <div>
                                <img  class="card_img" src="../../../assets/images/java.png" >
                            </div>
                            <div style="padding-top: 10px;">
                                <h5 class="card-title">Java</h5>
                            </div>
                        </a> 
                </div>
                <div class="card">
                     <a routerLink="/course/java-springboot">
                            <div>
                                <img  class="card_img" src="../../../assets/images/mongo.png" >
                            </div>
                            <div style="padding-top: 10px;">
                                <h5 class="card-title">SpringBoot</h5>
                            </div>
                        </a> 
                </div>
            </div>
       
    </div>

</div>