<div style="height: 100%;">
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light " id="mainNav">
  <div class="container-fluid">
    <div style="display:flex; flex-direction:row; ">
 
      <img src="../assets/images/2 (1).png" >
      <a class="main_heading"> TechZinfi</a>
    </div>
    <button id="navbarCollapse" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarResponsive " aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:black !important;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" >Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/batches" >Batches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openBottomSheet()">Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faculty">Faculty</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>

<app-footer></app-footer>

</div>


 