.navbar{
    background-color:whitesmoke !important;
    
}
.main_heading{
    font-size: 35px;
    cursor: pointer !important;
    text-decoration: underline;
}
.nav-item{
    padding-left: 20px;
    font-size:15px;
    cursor: pointer !important;
}



